{% extends '@fesk/plugin-documentation/lib/layouts/documentationLayout.twig' %}

{% set menuMap = {
  'getting-started': 'Getting started'
} %}

{% block title %}<strong><a href="/">Documentation</a></strong>{% endblock %}

